.app {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 5rem;
  font-weight: 900;
  color: white;
  align-self: baseline;
  margin: 1rem;
  margin-bottom: 5rem;
}

.piano-container {
  display: flex;

}

.piano-set {
  display: flex;
  position: relative;
}

.white-key {
  background-color: white;
  height: 20rem;
  width: 4rem;
  margin: .0625rem;
  border: .125rem solid black;
  border-radius: .3125rem;
  box-shadow: 5px 10px;
}

.white-key:active {
  background-color: rgb(179, 201, 219);
}

.black-key {
  background-color: black;
  height: 12rem;
  width: 3rem;
  border: .125rem solid black;
  border-radius: .3125rem;
  position: absolute;
}

.black-key:active {
  background-color: rgb(39, 39, 39);
}

.bk1 {
  left: 2.8125rem;

}

.bk2 {
  left: 115px;
}

.bk3 {
  left: 12.1875rem;
}

.bk4 {
  left: 12.1875rem;
}
